<section id="mainSlider" class="slider">
    <div id="mainCaption" class="caption">
        <h1>Rent A Car</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </p>
    </div>

</section>
<section id="features" class="sectionArea">
    <div class="featuresTop">
        <h2 class="sectionHeader">Güvenli Kiralama</h2>
        <!-- <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit"
        </p> -->
    </div>
    <div class="featuresBody">
        <div class="container">
            <div class="col3">
                <div class="item">
                    <div class="zoom">
                        <img src="../../../assets/image/carimg3.jpg">
                    </div>
                    <div class="itemText">
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard

                        </p>

                        <a routerLink="/cars" class="btnDetails">Detay</a>
                    </div>
                </div>

            </div>
            <div class="col3">
                <div class="item">
                    <div class="zoom">
                        <img src="../../../assets/image/carimg2.jpg">
                    </div>
                    <div class="itemText">
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard


                        </p>
                        <a routerLink="/cars" class="btnDetails">Detay</a>
                    </div>
                </div>

            </div>
            <div class="col3">
                <div class="item">
                    <div class="zoom">
                        <img src="../../../assets/image/carimg1.jpg">
                    </div>
                    <div class="itemText">
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard


                        </p>
                        <a class="btnDetails" routerLink="/cars">Detay</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>